* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

body {
	background-image: url("../images/cheap_diagonal_fabric.png");
}
header {
	background-color: white;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-bottom:2px solid #727171;
    margin-bottom: 24px;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: auto;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
	background-color: #4aaaa5;
	color: #FFF;
	padding: 18px;
	display: inline-block;
}

h2 {
	border-bottom:2px solid #727171;
	padding: 12px 12px 24px 12px;
	margin-bottom: 24px;
}
