* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.2s;
    transition: 0.2s;
}

body {
	background-image: url("../images/cheap_diagonal_fabric.png");
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
	font-weight: 700;
	line-height: auto;
	color: #4aaaa5;
}

h1 {
	font-size: 30px;
	background-color: #4aaaa5;
	color: #FFF;
	padding: 18px;
	display: inline-block;
}

h2 {
	border-bottom:2px solid #727171;
	padding: 12px 12px 24px 12px;
	margin-bottom: 24px;
}
#navheaderstripe {
	background-color:white;
	border-color: #CCCCCC;
    border-bottom:2px solid #727171;
}
#navheader {
	background-color:white;
}
.navbar {
	background-color:white;
	border-width:0px;
	margin-bottom:0px;
}
.navbar-nav {
	font-size:23px;
}
.navbar-nav > li > a:hover {
	color:green;
}
.navbar-brand {
	font-size:30px;
	background-color: #4aaaa5;

}
.navbar-brand strong{
	color:white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-brand strong:hover{
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}


#midsection {
	margin-top:20px;
	margin-bottom:120px;
}
#connect-with-me, #about-me-description, #portfolio-images{
	box-shadow: 10px 10px 10px #727171;
	border-radius:6px;
	padding:12px;
	background-color:white;
	margin: 0px;
	display:inline-block;
}
#connect-with-me ul {
	display:inline-block;
}

#connect-with-me h2 {
	text-align:center;
	padding-left:0px;
	padding-right:0px;
}

#about-me img {
	width:33%;
	clear:both;
	float:left;
}

#about-me {
	margin-bottom:30px;
}
#about-me p {
	padding:12px;
	font-size:23px;
}
.portfolio-single-image img {
	max-width:100%;
	border-radius:6px;
}

.contact-me-icon img{
	max-width: 100%;
	border-radius: 3px
}
.contact-me-icon {
	padding:5px;
}
#copyright-footer {
	border-top: 6px solid #4aaaa5;
	background-color:#666;
	color:#fff;
	clear:both;
	text-align:center;
	font-size:18px;
	line-height: 60px
}
#copyright-footer > div > p {
	margin-bottom:0px;
	color:white;
}

.portfolio-single-image {
	margin-bottom: 20px;
	position:relative;
	display: table;
}

.portfolio-single-image figcaption{
	color:white;
	font:bold 24px;
	background:rgb(0, 0, 0);
	background:rgba(74,170, 165, 0.5);
	position:absolute;
	max-width:100%;
	width:92.5%;
	bottom:50px;
	text-align:center;
	line-height:50px;
	display:block:;
}